server:
  port: 8080
spring:
  jackson:
    serialization:
      write-dates-as-timestamps: false
engine:
  ring-buffer-size: 65536
  top-levels: 5
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui
